/* main body contents start */
body{
    font-family: 'Robot', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

main{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

/* main body contents end */

input{
    width: 430px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* navigation menu contents starts */

.active{
    color: #f783ae;
}

.paragraph{
    font-weight: bold;
    font-size: 18px;
}

#logo-img{
    display: flex;
    height: 100%;
    background: #202125;
    padding: 0 32;
    align-items: center;
    color: white;
    transition: 0.4s;
}
#logo-img img{
    height: 75px;
    width: 150px;
}
#logo-img:hover{
    background: black;
}
#menu-icon{
    height: 100%;
    font-size: 28px;
    padding: 0 4 px;
    color: #eee;
    display: none;
    align-items: center;
}

nav{
    height: 72px;
    background-color: #202125;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}
nav a{
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}
nav a:hover{
    text-decoration: none;
    color: red;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.log-btn{
    width: 73px; 
    height: 30px;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
    color: white; 
    font-weight: bold; 
    font-size: 15px; 
}

.log-btn:hover{
    text-decoration: none;
    color: red;
}

/* navigation menu contents end */

/* body main start */

#banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.2) url('../img/log4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: black;
}

#main-wrapper{
    border-radius: 10px;
    background-color: #F0FFF0;
    border: 3px solid #f1f1f1;
    width: 500px;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.inner_container{
    width: 450px;
    margin: 0 auto;
}

.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

img.img1{
    width: 30%;
    border-radius: 50%;
}

/* body main end */

/* card start */

.page-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 120px;
    margin-left: 10px;
}

.page-heading:hover{
    padding: 4px 48px;
    background: red;
}

#blogpost{
    display: flex;
    flex-direction: column;
    width: 70%;
    border-left: 1px solid #999;
}

#blogpost .card{
    width: 120%;
    text-align: center;
    margin-left: 10%;
}

.contact-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 60px;
    margin-left: 1%;
}

.contact-heading:hover{
    padding: 4px 48px;
    background: red;
}

/* card end */

/* send, contactus button start */

.send_button{
    background-color: #3498db;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 35%;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}

.contactus_button{
    background-color: #3498db;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 35%;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}

/* send, contactus button start */

/* footer section start */

footer{
    background: black;
    padding: 8px;
    color: #eee;
    display: flex;
}
footer a{
    color: white;
}
footer #left-footer{
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
}
footer #left-footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
}
footer #right-footer{
    flex: 2;
    padding: 8px;
    text-align: center;
}
footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github{
    color: white;
    transition: 0.4s;
}
footer #social-media-footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}
footer #social-media-footer ul li:hover a .fa-youtube{
    color: red;
}
footer #social-media-footer ul li:hover a .fa-facebook{
    color: #3b5998;
}
footer #social-media-footer ul li:hover a .fa-github{
    color: #bbb;
}

/* footer section end */